<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
        <title>Coins</title>
    </head>

        <body>
          <div class='container'>
            <div class='jumbotron'>
              <h1>Rock Paper Scissors</h1>
              <p><em>Play.</em></p>
            </div>  <!-- /JUMBOTRON -->

        <!-- Row: 1 -->
            <div class='row'>
              <div class='col-sm-6'>
                  <h2>Make Your Move</h2>
                  <form action='/input'>
                      <label for="player1">Player 1:</label>
                      <select class="form-control" name="player1">
                          <option value="rock">Rock</option>
                          <option value="paper">Paper</option>
                          <option value="scissor">Scissor</option>
                        </select>
                        <label for="player2">Player 2:</label>
                        <select class="form-control" name="player2">
                            <option value="rock">Rock</option>
                            <option value="paper">Paper</option>
                            <option value="scissor">Scissor</option>
                          </select>
                          <br>
                          <button class='btn btn-warning' type='submit'>Submit!</button>
                      </div>


                </form>
            </div>  <!-- /col-sm-6 -->
          </div>  <!-- /Row -->
