<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="css/styles.css">
        <title>Rock, Paper, Scissors</title>
    </head>

        <body>
          <div class='container'>
            <div class='jumbotron' style="min-height: 471px;">
              <h1>Rock Paper Scissors</h1>
              <p><em>Let's play!</em></p>
            </div>  <!-- /JUMBOTRON -->

        <!-- Row: 1 -->
            <div class='row'>
              <div class='col-sm-6'>
                  <h2>Make Your Move</h2>
                  <form action='/input'>
                      <label for="player1">Player 1:</label>
                      <select class="form-control" name="player1" id="player1">
                          <option value="rock">Rock</option>
                          <option value="paper">Paper</option>
                          <option value="scissors">Scissor</option>
                        </select>
                        <label for="player2">Player 2:</label>
                        <select class="form-control" name="player2">
                            <option value="rock">Rock</option>
                            <option value="paper">Paper</option>
                            <option value="scissors">Scissor</option>
                          </select>
                          <br>
                          <button class='btn btn-warning' type='submit'>Submit!</button>
                      </div>
                </form>
            </div>  <!-- /col-sm-6 -->
          </div>  <!-- /Row -->
      </body>
</html>
